In [115]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression as LR

In [116]:
df = pd.read_csv("难度分档结果.csv")
df

,Unnamed: 0,Word,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),e,...,i,th,he,in,er,an,Frequency,Char_repitions,grade,Unnamed: 22
0,0,slump,1,3,23,39,24,9,1,0.0,...,0.0,0,0,0,0,0,0.000661,0.0,2,NaN
1,1,crank,1,5,23,31,24,14,2,0.0,...,0.0,0,0,0,0,1,0.000765,0.0,2,NaN
2,2,gorge,1,3,13,27,30,22,4,0.5,...,0.0,0,0,0,0,0,0.001304,0.5,2,NaN
3,3,query,1,4,16,30,30,17,2,0.5,...,0.0,0,0,0,1,0,0.005003,0.0,2,NaN
4,4,drink,1,9,35,34,16,5,1,0.0,...,0.5,0,0,1,0,0,0.027824,0.0,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,354,condo,0,2,17,35,29,14,3,0.0,...,0.0,0,0,0,0,0,0.000951,0.5,2,NaN
355,355,impel,0,3,21,40,25,9,1,0.5,...,0.5,0,0,0,0,0,0.000121,0.0,1,NaN
356,356,havoc,0,2,16,38,30,12,2,0.0,...,0.0,0,0,0,0,0,0.001178,0.0,2,NaN
357,357,molar,0,4,21,38,26,9,1,0.0,...,0.0,0,0,0,0,0,0.001504,0.0,2,NaN
358,358,manly,0,2,17,37,29,12,2,0.0,...,0.0,0,0,0,0,1,0.001521,0.0,2,NaN

In [117]:
# 控制权重
df["Frequency"]*=100

In [118]:
x_data = df.iloc[:,9:-2]
y_data = df["grade"]

In [119]:
clf = LR(solver="sag",max_iter=5000).fit(x_data,y_data)
clf.score(x_data,y_data)

0.8467966573816156

In [120]:
coef = pd.DataFrame(clf.coef_).T
coef.columns=["困难","普通","简单"]
coef.index = x_data.columns
coef

                      困难        普通        简单
e               0.232239 -0.027069 -0.205171
t               0.296075  0.039156 -0.335231
a              -0.366909  0.563329 -0.196420
o              -0.371408  0.559860 -0.188452
i               0.047401  0.328101 -0.375502
th             -0.521271  0.543083 -0.021812
he              0.321669 -0.332340  0.010671
in             -0.360035  0.006738  0.353297
er              0.141462  0.107538 -0.249001
an              0.416441 -0.195171 -0.221270
Frequency      -3.562236  0.338328  3.223908
Char_repitions  0.466904 -0.132313 -0.334591