In [73]:
import pandas as pd
import numpy as np
import json

In [74]:
df = pd.read_excel("Problem_C_Data_Wordle.xlsx",usecols=range(1,13))
df

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X)
0,2022-12-31,560,manly,20380,1899,0,2,17,37,29,12,2
1,2022-12-30,559,molar,21204,1973,0,4,21,38,26,9,1
2,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,12,2
3,2022-12-28,557,impel,20160,1937,0,3,21,40,25,9,1
4,2022-12-27,556,condo,20879,2012,0,2,17,35,29,14,3
...,...,...,...,...,...,...,...,...,...,...,...,...
354,2022-01-11,206,drink,153880,3017,1,9,35,34,16,5,1
355,2022-01-10,205,query,107134,2242,1,4,16,30,30,17,2
356,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,22,4
357,2022-01-08,203,crank,101503,1763,1,5,23,31,24,14,2
358,2022-01-07,202,slump,80630,1362,1,3,23,39,24,9,1

In [75]:
oneletter_list = ["e","t","a","o","i"]
twoletter_list = ["th","he","in","er","an"]
word_list = df["Word"]

In [76]:
for oneletter in oneletter_list:
    list = []
    for i in range(len(df)):
        list.append(df["Word"][i].count(oneletter))
    df[oneletter] = pd.Series(list)
for twoletter in twoletter_list:
    list = []
    for i in range(len(df)):
        list.append(df["Word"][i].count(twoletter))
    df[twoletter] = pd.Series(list)
df

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,...,e,t,a,o,i,th,he,in,er,an
0,2022-12-31,560,manly,20380,1899,0,2,17,37,29,...,0,0,1,0,0,0,0,0,0,1
1,2022-12-30,559,molar,21204,1973,0,4,21,38,26,...,0,0,1,1,0,0,0,0,0,0
2,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,...,0,0,1,1,0,0,0,0,0,0
3,2022-12-28,557,impel,20160,1937,0,3,21,40,25,...,1,0,0,0,1,0,0,0,0,0
4,2022-12-27,556,condo,20879,2012,0,2,17,35,29,...,0,0,0,2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,2022-01-11,206,drink,153880,3017,1,9,35,34,16,...,0,0,0,0,1,0,0,1,0,0
355,2022-01-10,205,query,107134,2242,1,4,16,30,30,...,1,0,0,0,0,0,0,0,1,0
356,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,...,1,0,0,1,0,0,0,0,0,0
357,2022-01-08,203,crank,101503,1763,1,5,23,31,24,...,0,0,1,0,0,0,0,0,0,1
358,2022-01-07,202,slump,80630,1362,1,3,23,39,24,...,0,0,0,0,0,0,0,0,0,0

In [77]:
with open("英文单词词频表.json","r") as f:
    content = f.read()
    frequency_table = json.loads(content)

In [78]:
list = []
for i in range(len(df)):
    list.append(frequency_table[df["Word"][i]])
df["Frequency"] = pd.Series(list)
df

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,...,t,a,o,i,th,he,in,er,an,Frequency
0,2022-12-31,560,manly,20380,1899,0,2,17,37,29,...,0,1,0,0,0,0,0,0,1,3.115676e-06
1,2022-12-30,559,molar,21204,1973,0,4,21,38,26,...,0,1,1,0,0,0,0,0,0,3.081168e-06
2,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,...,0,1,1,0,0,0,0,0,0,2.419932e-06
3,2022-12-28,557,impel,20160,1937,0,3,21,40,25,...,0,0,0,1,0,0,0,0,0,2.761370e-07
4,2022-12-27,556,condo,20879,2012,0,2,17,35,29,...,0,0,2,0,0,0,0,0,0,1.960344e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,2022-01-11,206,drink,153880,3017,1,9,35,34,16,...,0,0,0,1,0,0,1,0,0,5.647384e-05
355,2022-01-10,205,query,107134,2242,1,4,16,30,30,...,0,0,0,0,0,0,0,1,0,1.017949e-05
356,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,...,0,0,1,0,0,0,0,0,0,2.676004e-06
357,2022-01-08,203,crank,101503,1763,1,5,23,31,24,...,0,1,0,0,0,0,0,0,1,1.583252e-06
358,2022-01-07,202,slump,80630,1362,1,3,23,39,24,...,0,0,0,0,0,0,0,0,0,1.371790e-06

In [80]:
df.to_csv("Wordle表格含单词频率.csv")